page-event {
    
}
.event{
    padding-top:10px;
    padding-bottom:10px;
}
.img{
    height: 60px !important;
    width: 60px !important;
}
.startForm {
   padding-top: 40px;
}

.serviceTitle{
    color: #757474;
}

.indicator{
    margin-top:150px;
    margin-left:50%;
}

ion-spinner {
  width: 40px;
  height: 40px;
  stroke: #444;
  fill: #222;
}