<ion-header>
  <ion-navbar color="primary">
    <ion-title>Attendance Manager</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-searchbar (ionInput)="searchService($event)" placeholder="Type Service Title"></ion-searchbar>-->
    
    <ion-list no-lines *ngIf="service && !noservice">
      <!--<ion-list-header>Service</ion-list-header>-->
      <ion-item-divider color="light">Today's Service</ion-item-divider>
      <button class="event" ion-item (click) = "gotoAttendance(service.id, service.name)">
          <ion-avatar item-start>
            <img src="assets/img/cal.png" class="img">
          </ion-avatar>
             <h2 class="serviceTitle"> {{ service.name }} </h2>
             <p><ion-icon name="pin"></ion-icon> {{service.location}} </p>
             <p><ion-icon name="calendar"></ion-icon> {{service.date_time}} </p>
      </button>
    </ion-list>

   <img src="assets/img/cal.png" *ngIf="noservice">

   <ion-spinner name="crescent" class="indicator" *ngIf="!service && !noservice"></ion-spinner>

   <ion-fab bottom center>
    <button ion-fab color="fray" (click)="reConnect()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab> 
 </ion-content>
