page-member {
    
}

.startForm {
   padding-top: 40px;
}

.serviceTitle{
    color: #757474;
}

.input-has-value{
    border-bottom-color: none !important;
    box-shadow: none !important;
}
.invalid {
    border: 1px solid #f2f2f2;
}
