<ion-header >
  <ion-navbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getAttendance($event)" placeholder="Search Name"></ion-searchbar>
    
  <ion-list *ngIf="attendance">
    <!--<ion-list-header>Member List</ion-list-header>-->
    
    <button ion-item  *ngFor="let item of attendance">
      <ion-avatar item-start>
        <img src="assets/img/male.png" *ngIf = "item.sex == 1">
        <img src="assets/img/female.png" *ngIf = "item.sex == 0">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.name }}</h2>
      </ion-label>
       <button *ngIf="item.present == true" ion-button clear large item-right color="secondary" (click)="absent(item)"><ion-icon name="checkmark-circle"></ion-icon></button>
       <button *ngIf="item.present == false" ion-button clear large item-right color="love" (click)="present(item)"><ion-icon name="close-circle"></ion-icon></button>
      
    </button>
  </ion-list>

  <ion-spinner name="crescent" class="indicator" *ngIf="!attendance"></ion-spinner>

  <ion-fab bottom right>
    <button ion-fab color="danger" (click)="addFirst()"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab> 
</ion-content>
